/* Main sections */
section.lead {
	background: url('../img/index/main-photo.jpg') no-repeat center center/cover;
}

.lead-content h1 {
	width: 744px;
	margin: 0 auto;
	text-align: center;
	font-size: 45px;
	font-weight: 700;
	color: #FFF;
	margin-bottom: 64px;
}

div.lead-wrapper div.search {
	width: 832px;
	margin: 0 auto;
}

div.lead-wrapper div.search form {
	display: flex;
	margin: 0 auto;
}

.lead-search-form input {
	border-radius: 16px;
	border: 1px solid rgba(112, 186, 255, 0.40);
	background: #ECECEC;
	width: 744px;
	padding-left: 24px;
}

.lead-search-form button {
	border-radius: 16px;
	border: 1px solid rgba(112, 186, 255, 0.40);
	background: #99A9EB;
	margin-left: 16px;
	padding: 12px;

}

/* Suggestions */
.suggestions {
	margin-top: 60px;
}

.suggestions h2,
.recommendations h2 {
	margin-bottom: 40px;
	font-size: 56px;
	font-weight: 700;
}

.suggestion-elem.bg-1.big {
	background: url('../img/index/sugg__photo-1.jpg') no-repeat center center/cover;
	height: 740px;
	border-radius: 24px;
}

.suggestion-elem.bg-2 {
	background: url('../img/index/sugg__photo-2.jpg') no-repeat center center/cover;
	height: 354px;
	border-radius: 36px;
}

.suggestion-elem.bg-3 {
	background: url('../img/index/sugg__photo-2.jpg') no-repeat center center/cover;
	height: 354px;
	border-radius: 36px;
}

.bg-1.big {
	grid-column: 1;
	grid-row: span 2;
}

.bg-2, .bg-3 {
	grid-column: 2;
}

.grid-container {
	list-style: none;
	display: grid;
	gap: 32px;
	grid-template-columns: 1fr 1fr;
}

.sugg-wrapper {
	max-width: 1920px;
	margin: 0 auto;
	padding: 0 112px;
}

.grid-container li {
	position: relative;
}

.grid-container li span {
	font-family: 'Roboto';
	font-size: 44px;
	font-weight: 800;
	color: #FFF;
	position: absolute;
	bottom: 20px;
	left: 32px;
}

/* Recommendations styles */
.recommendations {
	max-width: 1920px;
	margin: 0 auto;
	padding: 0 112px;
	margin-top: 60px;
}

.places-cards-wrapper {
	max-width: 100%;
	margin: 0 auto;
}

.places-cards-wrapper ul.places-cards {
	display: grid;
	list-style: none;
	grid-template-columns: repeat(3, 1fr);
	gap: 32px;
}

.places-cards .card {
	position: relative;
}

.places-cards .card img {
	display: block;
	width: 100%;
	height: auto;
}

div.card-info a {
	max-width: 100%;
	display: flex;
	margin-top: 20px;
	align-items: center;
}

.card-info a > *:not(:last-child) {
	margin-right: 20px;
}

div.card-info .rating {
	max-width: 32px;
	max-height: 32px;
}

div.card-info h3 {
	font-size: 36px;
	font-weight: 700;
}

.reviews {
	color: #666;
	font-size: 32px;
	font-weight: 700;
}


@media(max-width: 1200px) {
	.sugg-wrapper {
		padding-left: 56px;
		padding-right: 56px;
	}

	.places-cards-wrapper ul.places-cards {
		grid-template-columns: repeat(2, 1fr);
   }

	.recommendations {
		padding-left: 56px;
		padding-right: 56px;
	}

	div.card-info h3 {
		font-size: 24px;
	}

	div.card-info img {
		max-width: 120px;
	}
}

@media (max-width: 800px) {
	.places-cards-wrapper ul.places-cards {
		grid-template-columns: 1fr;
	}
}