* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
}

*:focus {
	outline: none;
}

html, body {
	height: 100%;
}

body {
	color: #000;
	font-family: 'Manrope', sans-serif;
	font-size: 16px;
	font-weight: 400;
	display: flex;
   flex-direction: column;
	background: #E4E4E4;
}

.main-content {                
	flex: 1;
	margin-bottom: 100px;
}

a {
	color: #262626;
	text-decoration: none;
}

h1 {
	font-size: 96px;
}

h2 {
	font-size: 60px;
}

h3 {
	font-size: 52px;
}

h4 {
	font-size: 40px;
}

h5 {
	font-size: 36px;
}

img {
	vertical-align: middle;
}

/* Main Navigation Styles */
.showcase {
	position: relative;
	width: 100%;
	z-index: 1;
}

.showcase::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.6);
	z-index: -1;
}

.container {
	max-width: 1920px;
	max-height: 100px;
	margin: 0 auto;
	padding: 26px 112px;
}

.main-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-height: 48px;
}

.header-logo__wrapper {
	width: 130px;
}

.main-nav .search {
	display: flex;
	width: 342px;
	align-items: center;
	padding: 12px 0;
	border-radius: 24px;
	border: 1px solid rgba(112, 186, 255, 0.4);
	background: #ECECEC;
	margin-left: 72px;
}

.main-nav .search form {
	max-width: 318px;
	margin: 0 auto;
}

.main-nav .search form button,
.main-nav .search form input {
	border: none;
	background: #ECECEC;
}

.main-nav .search form input {
	width: 282px;
	height: 22px;
	font-size: 17px;
	margin-left: 12px;
}

.main-nav .search-form {
	display: flex;
}

.main-nav .search-form button {
	display: flex;
	align-items: center;
}

.main-menu {
	display: flex;
	list-style: none;
	margin-left: auto;

}

.menu-item {
	font-weight: 600;
}

.menu-item:not(:last-child) {
	margin-right: 24px;
}

.profile {
	display: flex;
	align-items: center;
	margin-left: 72px;
}

.profile-inf {
	text-align: right;
}

.profile-inf button {
	border: none;
	background: rgba(255, 255, 255, 0);
	color: #565656;
}

.user-icon__wrapper {
	margin-left: 8px;
}

.user-icon img {
	width: 52px;
	height: 52px;
	border-radius: 52px;
}

.header-logo,
.search,
.profile,
.search-form {
	display: flex;
	align-items: center;
}

.current-city-nav__wrapper {
	max-width: 1920px;
	margin: 0 auto;
	padding: 28px 112px;
}

.current-city-nav__inner {
	display: flex;
}

.current-city a {
	display: flex;
	align-items: center;
}

.current-city a > *:not(:last-child) {
	margin-right: 12px;
}

.current-city-nav {
	display: flex;
	align-items: center;
	margin-left: 48px;
}

.current-city-nav a:not(:last-child) {
	margin-right: 48px;
}

.city-name,
.city-nav-item {
	font-size: 32px;
	font-weight: 700;
}

section.lead {
	width: 100%;
	margin-top: -200px;
	max-height: 860px;
}

.lead-content {
	padding: 354px 0;
}

/*	Footer styles */
.footer {
	width: 100%;
	background: rgb(183, 183, 176);
}

div.footer-container {
	display: flex;
	max-width: 1920px;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
	padding: 34px 112px;
}

ul.footer-menu {
	list-style: none;
	display: flex;
}

ul.footer-menu li:not(:last-child) {
	margin-right: 24px;
}

@media(max-width: 1200px) {
	.main-nav .search {
		display: none;
	}

	.container {
		padding-left: 56px;
		padding-right: 56px;
	}

	.lead-content h1 {
		width: 700px;
	}

	div.footer-container {
		padding-left: 56px;
		padding-right: 56px;
	}
}
