body {
	background: #E4E4E4;
}

h2 {
	font-size: 48px;
	font-weight: 700;
}

/* ПРОБЛЕМЫ С ОТЦЕНТРОВКОЙ MAIN */
.main-content {
	max-width: 1920px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	margin-bottom: 100px;
	padding: 0 112px;
}

.place-header {
	max-width: 1696px;
	display: flex;
	align-items: center;
	margin-top: 112px;
}

.place-header h1 {
	font-size: 56px;
}

.place-header p {
	font-size: 20px;
	font-weight: 700;
	color: #323232;
	margin-top: 29px;
	margin-left: 24px;
}

button.like {
	border: none;
	background: #fff;
	border-radius: 50%;
	align-items: center;
	padding: 10px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
}

button.like img {
	margin-top: 6px;
	width: 40px;
}

.place-main-info {
	max-width: 760px;
	display: flex;
	align-items: center;
	margin-top: 27px;
}

p.address {
	font-size: 24px;
	font-weight: 700;
	margin-left: 12px;
}

.place-main-info .stars {
	display: flex;
	margin-left: 48px;
	gap: 6px;
}

p.comments-info {
	font-size: 20px;
	font-weight: 700;
	margin-left: 32px;
}

.gallery-wrapper {
	max-width: 1696px;
	margin-top: 42px;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	gap: 32px;
}

.big-gallery-photo__wrapper {
	max-width: 1408px;
}

.small-gallery-photos Li:not(:last-child) {
	margin-bottom: 28px;
}

.gallery-photo a img {
	display: block;
	border-radius: 18px;
}

.gallery-photo.big a img {
	width: 100%;
	height: auto;
	border-radius: 36px;
}

.place-description {
	max-width: 1120px;
	border-radius: 24px;
	background: #fff;
	margin-top: 61px;
}

.place-description__wrapper {
	padding: 40px;
}

.rating {
	margin-top: 16px;
}

.stars {
	display: flex;
	align-items: center;
	gap: 6px;
}

.attribute-name {
	margin-left: 4px;
	font-size: 20px;
	font-weight: 700;
}

.description-p {
	margin-top: 64px;
}

.description-p p {
	font-size: 20px;
	font-weight: 500;
}

.description-p p:not(:last-child) {
	margin-bottom: 26px;
}

.write-comment {
	border: none;
	padding: 18px 32px;
	border-radius: 16px;
	margin-left: auto;
	background: #000;
	box-shadow: 0px 4px 12.6px 0px rgba(0, 0, 0, 0.14);
}

.com-btn-text {
	color: #fff;
	font-size: 20px;
	font-weight: 600;
}

.comments-wrapper {
	max-width: 1120px;
	background: #fff;
	border-radius: 24px;
	margin-top: 46px;
}

.comments__wrapper-inner {
	padding: 40px;
}

.comments-header {
	display: flex;
}

.comments {
	margin-top: 21px;
}

.commentor-icon {
	border-radius: 50%;
	width: 48px;
}

.comment-header {
	display: flex;
	align-items: center;
}

.commentor-profile {
	display: flex;
	align-items: center;
}

.commentor-name {
	font-size: 20px;
	font-weight: 700;
	margin-left: 12px;
}

.comment-date {
	font-size: 18px;
	font-weight: 500;
	margin-left: 32px;
}

.estimation {
	display: flex;
	gap: 6px;
	margin-top: 8px;
}

.main-phrase {
	font-size: 20px;
	font-weight: 700;
	margin-top: 22px;
}

.more-description {
	font-size: 20px;
	font-weight: 500;
	margin-top: 16px;
}

.stay-date {
	font-size: 18px;
	font-weight: 500;
	margin-top: 20px;
}

span.bold {
	font-size: 20px;
	font-weight: 700;
}