* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*:focus {
	outline: none;
}

html, body {
	height: 100%;
}

body {
	color: #000;
	font-family: 'Manrope', sans-serif;
	font-size: 16px;
	font-weight: 400;
	display: flex;
   flex-direction: column;
}

.main-content {                
	flex: 1;
	margin-bottom: 100px;
}

a {
	color: #262626;
	text-decoration: none;
}

/* Main Navigation Styles */
.showcase {
	position: relative;
	width: 100%;
	z-index: 1;
}

.showcase::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.6);
	z-index: -1;
}

.container {
	max-width: 1920px;
	max-height: 100px;
	margin: 0 auto;
	padding: 26px 112px;
}

.main-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-height: 48px;
}

.header-logo {
	width: 130px;
}

.main-nav .search {
	display: flex;
	width: 342px;
	align-items: center;
	padding: 12px 0;
	border-radius: 24px;
	border: 1px solid rgba(112, 186, 255, 0.4);
	background: #ECECEC;
	margin-left: 72px;
}

.main-nav .search form {
	max-width: 318px;
	margin: 0 auto;
}

.main-nav .search form button,
.main-nav .search form input {
	border: none;
	background: #ECECEC;
}

.main-nav .search form input {
	width: 282px;
	height: 22px;
	font-size: 17px;
	margin-left: 12px;
}

.main-nav .search-form {
	display: flex;
}

.main-nav .search-form button {
	display: flex;
	align-items: center;
}

.main-menu {
	display: flex;
	list-style: none;
	margin-left: auto;

}

.menu-item {
	font-weight: 600;
}

.menu-item:not(:last-child) {
	margin-right: 24px;
}

.profile {
	display: flex;
	align-items: center;
	margin-left: 72px;
}

.profile-inf {
	text-align: right;
}

.profile-inf button {
	border: none;
	background: rgba(255, 255, 255, 0);
	color: #565656;
}

.user-icon {
	margin-left: 8px;
	margin-top: 5px;
}

.user-icon img {
	width: 52px;
	height: 52px;
	border-radius: 52px;
}

.header-logo,
.search,
.profile,
.search-form {
	display: flex;
	align-items: center;
}

/* Main sections */
section.lead {
	width: 100%;
	background: url('../img/town-page/town-page-photo.jpg') no-repeat center center/cover;
	margin-top: -100px;
}

.lead-content {
	padding: 304px 0;
}

.lead-content h1 {
	max-width: 1000px;
	margin: 0 auto;
	text-align: center;
	font-family: 'Roboto';
	font-size: 96px;
	font-weight: 700;
	color: #FFF;
}

div.lead-content div.town-description {
	max-width: 1000px;
	color: #fff;
	font-size: 32px;
	font-weight: 500;
	text-align: center;
	margin: 0 auto;
}

/* Town places style */
.places-wrapper {
	max-width: 1920px;
	margin: 0 auto;
	padding: 0 112px;
	
}

.places {
	display: flex;
	list-style: none;
	margin-top: 24px;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 12px;
}

.places li:not(:last-child) {
	margin-right: 12px;
}

.places-item div a {
	display: flex;
	align-items: center;
	padding: 12px 20px;
	border-radius: 16px;
	box-shadow: 0px 4px 12.6px 0px rgba(0, 0, 0, 0.14);
}

.place-title {
	font-family: 'Inter';
	font-size: 28px;
	margin-left: 12px;
}

.places-cards-wrapper {
	max-width: 1920px;
	margin: 0 auto;
	margin-top: 72px;
	padding: 0 112px;
}

.places-cards-wrapper ul.places-cards {
	display: grid;
	list-style: none;
	grid-template-columns: repeat(3, 1fr);
	gap: 32px;
}

.places-cards .card {
	position: relative;
}

.places-cards .card img {
	display: block;
	width: 100%;
	height: auto;
}

div.card-info a {
	max-width: 488px;
	display: flex;
	margin-top: 20px;
	align-items: center;
}

.card-info a > *:not(:last-child) {
	margin-right: 20px; 
}

div.card-info .rating {
	max-width: 32px;
	max-height: 32px;
}

div.card-info h3 {
	font-size: 36px;
	font-weight: 700;
}

.reviews {
	color: #666;
	font-size: 32px;
	font-weight: 700;
}

/* ЗАЛИВКА ИКОНОК */
.places-item div.current img {
	filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg);
}

.places-item div.current a {
	background: var(--Accent, #4154FF);
	color: #fff;
}

/*	Footer styles */
.footer {
	width: 100%;
	background: rgb(183, 183, 176);
}

div.footer-container {
	display: flex;
	max-width: 1920px;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
	padding: 34px 112px;
}

ul.footer-menu {
	list-style: none;
	display: flex;
}

ul.footer-menu li:not(:last-child) {
	margin-right: 24px;
}


@media(max-width: 1200px) {
	.main-nav .search {
		display: none;
	}

	.container {
		padding-left: 56px;
		padding-right: 56px;
	}

	.lead-content h1 {
		width: 700px;
	}
	
	.sugg-wrapper {
		padding-left: 56px;
		padding-right: 56px;
	}

	.places-cards-wrapper ul.places-cards {
		grid-template-columns: repeat(2, 1fr);
   }

	.recommendations {
		padding-left: 56px;
		padding-right: 56px;
	}

	div.card-info h3 {
		font-size: 24px;
	}

	div.card-info img {
		max-width: 120px;
	}
}

@media (max-width: 800px) {
	.places-cards-wrapper ul.places-cards {
		grid-template-columns: 1fr;
	}
}