* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

}

*:focus {
	outline: none;
}

html, body {
	height: 100%;
}

body {
	color: #000;
	font-family: 'Manrope', sans-serif;
	font-size: 16px;
	font-weight: 400;
	display: flex;
   flex-direction: column;
}

.main-content {                
	flex: 1;
	margin-bottom: 100px;
}

a {
	color: #262626;
	text-decoration: none;
}

/* Main Navigation Styles */
.showcase {
	position: relative;
	width: 100%;
	z-index: 1;
}

.showcase::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.6);
	z-index: -1;
}

.container {
	max-width: 1920px;
	max-height: 100px;
	margin: 0 auto;
	padding: 26px 112px;
}

.main-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-height: 48px;
}

.header-logo {
	width: 130px;
}

.main-nav .search {
	display: flex;
	width: 342px;
	align-items: center;
	padding: 12px 0;
	border-radius: 24px;
	border: 1px solid rgba(112, 186, 255, 0.4);
	background: #ECECEC;
	margin-left: 72px;
}

.main-nav .search form {
	max-width: 318px;
	margin: 0 auto;
}

.main-nav .search form button,
.main-nav .search form input {
	border: none;
	background: #ECECEC;
}

.main-nav .search form input {
	width: 282px;
	height: 22px;
	font-size: 17px;
	margin-left: 12px;
}

.main-nav .search-form {
	display: flex;
}

.main-nav .search-form button {
	display: flex;
	align-items: center;
}

.main-menu {
	display: flex;
	list-style: none;
	margin-left: auto;

}

.menu-item {
	font-weight: 600;
}

.menu-item:not(:last-child) {
	margin-right: 24px;
}

.profile {
	display: flex;
	align-items: center;
	margin-left: 72px;
}

.profile-inf {
	text-align: right;
}

.profile-inf button {
	border: none;
	background: rgba(255, 255, 255, 0);
	color: #565656;
}

.user-icon {
	margin-left: 8px;
	margin-top: 5px;
}

.user-icon img {
	width: 52px;
	height: 52px;
	border-radius: 52px;
}

.header-logo,
.search,
.profile,
.search-form {
	display: flex;
	align-items: center;
}

/* ПРОБЛЕМЫ С ОТЦЕНТРОВКОЙ MAIN */
.main-content {
	max-width: 1920px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	margin-bottom: 100px;
}

/* TRIPS SECTIONS */
.trips-wrapper {
	width: 100%;
	padding: 0 112px;
}

.trips {
	margin-top: 101px;
	margin-bottom: 100px;
}

.trips-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.trips-header h1 {
	font-size: 60px;
	font-weight: 800;
}

.trip-planner {
	border: none;
	border-radius: 24px;
	padding: 24px 0;
	background: rgba(112, 186, 255, 0.40);
}

.trip-planner a {
	font-size: 24px;
	font-weight: 500;
	padding: 24px 20px;
}

/* ОБЩИЕ СТИЛИ ДЛЯ КАРТОЧЕК, ЗАГЛУШКА */
.past-trip,
.future-trip,
.current-trip {
	background: url('../img/trips-page/trips-photo.jpg') no-repeat center center/cover;
	border-radius: 36px;
	margin-top: 40px;
	width: 100%;
	height: 553px;
	position: relative;
}

.trips-wrapper div:not(:nth-child(-n + 2)) {
	margin-top: 62px;
}

.card-info-wrapper {
	position: absolute;
	bottom: 42px;
	left: 42px;
}

.trip-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.trip-header h2 {
	font-size: 52px;
	font-weight: 700;
}

.unwrapper {
	width: 60px;
	height: 60px;
	border: none;
	background: #fff;
}

.trip-title a,
.date,
.place {
	color: #fff;
}

.trip-title {
	font-size: 52px;
	font-weight: 700;
}

.date, .place {
	font-size: 29px;
	font-weight: 600;
	margin-left: 12px;
}

.trip-info {
	margin-top: 4px;
	display: flex;
}

.trip-info > *:not(:last-child) {
	margin-right: 18px;
}

.trip-date,
.trip-place {
	display: flex;
}

.users {
	margin-top: 20px;
	display: flex;
	list-style: none;
}

.users li.user:not(:last-child) {
	margin-right: 16px;
}

.trip-menu {
	position: absolute;
	top: 20px;
	right: 20px;
}

.some-user__icon {
	border-radius: 52px;
}

/* FOOTER */
.footer {
	width: 100%;
	background: rgb(183, 183, 176);
}

div.footer-container {
	display: flex;
	max-width: 1920px;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
	padding: 34px 112px;
}

ul.footer-menu {
	list-style: none;
	display: flex;
}

ul.footer-menu li:not(:last-child) {
	margin-right: 24px;
}

/* ПЕРЕВОРАЧИВАЕМ СТРЕЛКУ СВОРАЧИВАНИЯ */
.flipped-unwrap-button {
	transform: rotate(180deg);
}

@media(max-width: 1200px) {
	.main-nav .search {
		display: none;
	}

	.container {
		padding-left: 56px;
		padding-right: 56px;
	}

	div.footer-container {
		padding-left: 56px;
		padding-right: 56px;
	}
}
