<!DOCTYPE html>
<html>
<head>
    <title>Список мест</title>
</head>
<body>
    <h1>Список мест</h1>
    <ul>
        {% for place in places %}
            <li>
                {{ place.name }} ({{ place.category }})
                <a href="{% url 'submit_review' place.id %}">Добавить отзыв</a>
                <a href="{% url 'place_reviews' place.id %}">Отзывы</a>
            </li>
        {% empty %}
            <li>Города не найдены.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'add_place' %}">Добавить новый город</a>
</body>
</html>
