section.lead {
	width: 100%;
	background: url('/img/index/main-photo.jpg') no-repeat center center/cover;
	margin-top: -100px;
	max-height: 860px;
}

.lead-wrapper {
	padding: 304px 0;
}

.lead-content h1 {
	width: 744px;
	margin: 0 auto;
	text-align: center;
	font-family: 'Roboto';
	font-size: 56px;
	font-weight: 700;
	color: #FFF;
	margin-bottom: 64px;
}