<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
</head>
<body>
    <h1>Регистрация нового пользователя</h1>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <label for="username">Придумайте свой уникальный id:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="name">Отображаемое имя:</label>
        <input type="text" id="name" name="name" required><br><br>
        <label for="last_name">Отображаемая фамилия:</label>
        <input type="text" id="last_name" name="last_name" required><br><br>
        <label for="email">Электронная почта:</label>
        <input type="email" id="email" name="email" required><br><br>

        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required><br><br>

        <button type="submit">Зарегистрироваться</button>
    </form>
</body>
</html>